@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}

button {
  border: none;
  cursor: pointer;
}

/*
    HEADER
*/

.header__img {
  width: 100%;
  max-width: 240px;
}

.btn {
  line-height: 1.6em;
  padding: 5px;
  width: 80px;
  border-radius: 5px;
  margin-right: 30px;
}

.account__register {
  background-color: #7342d6;
  color: #fff;
}

.fes__header {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.fes__nav {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.login__user--title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7342d6;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 40px;
  line-height: 1em;
}
